<nav class="w-100 ">
  <div class="container-lg">
    <div class="row w-100 ">
      <div class="d-flex justify-content-start">
        <a class="f1-heavy fs-3 logo "  href="#">CAIRO TICKETS</a>
        <div id="search-container" style="display:none;">
          <mat-icon class="d-flex justify-content-end align-items-center"
          style="font-size:40px;;width: 100%;height: 100%;color: black;">search</mat-icon>
        </div>
        <a class="fs-3 link"  href="#">MOVIES</a>
        <a class="fs-3 link" href="#">THEATER</a>
        <a class="fs-3 link" href="#">MUSICAL CONCERTS</a>
        <a class="fs-3 link" href="#">STAND UP COMEDIES</a>
      </div>
    </div>
  </div>
</nav>
