<div class="w-100 h-75 " id="bg-img-container">
  <img draggable="false" [src]="event.backGroundUrl">
</div>

<div class="container d-flex flex-row-reverse" style="margin-top: -100px;">
  <div id="buy-now-container" class="p-3">
    <div id="event-name">
      {{event.name | uppercase}}
    </div>
    <div style="width: 150px;display: inline-block;">
      <button (click)="Scroll(showtimes)"  class="bg-clr-yellow h-100 p-2 w-100">
        Buy Tickets
      </button>
    </div>
  </div>
</div>

<div style="white-space: pre-line;" class="container w-100 mb-5" id="event-Info">
  <div id="discription-container" class="mx-auto">
    <div class="f-light">
      <p style="font-size: smaller;">
        Rated pg-13 . 103 min
      </p>
    </div>
    <div class="f-heavy mb-4">
      <h2>
        {{event.descriptionTitle}}
      </h2>
    </div>
    <div *ngIf="event.description.length<500 || articleExpanded" class="f-book">
      {{event.description}}
    </div>

    <div *ngIf="event.description.length>100 && !articleExpanded" class="f-book">
      {{event.description.substring(0,500) }} ...
      <div id="read-more" class="d-flex justify-content-center">
        <button (click)="ExpandArticle()" class="mt-3 h-100 p-1 w-25">
          read-more
        </button>
      </div>
    </div>

  </div>
</div>

<div class="h-75" style="background-color: black;" #showtimes>
  <ShowTimes></ShowTimes>
</div>
