
.select-box {
  position: relative;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
  color: #60666d;
  font-size: 1vw;
  border: 2px solid #000000;
  border-radius: 8px !important;
}

.select-box__current{
  width: 100%;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  font-size: 1vw;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 15px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text{
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: transparent;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 200px; /* set the maximum height of the list */
  overflow: auto; /* add a scrollbar when the content overflows */
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #ffffff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #ecd3e7;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@media (min-width: 320px) {
  .select-box__current ,.select-box  {
    font-size: 3vw;
    width:100%;
  }
}

@media (min-width: 768px) {
  .select-box__current ,.select-box  {
    font-size: 1.5vw;
  }
}


@media (min-width: 1080px) {
  .select-box__current ,.select-box  {
    font-size: 1.3vw;
  }
}

@media (min-width: 1440px) {
  .select-box__current ,.select-box  {
    font-size: 1vw;
  }
}


