@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body {
   margin: 0;
   font-family:'Futura-PT-Bold';
  }

  .f-heavy{
    font-family: 'Futura-PT-Bold';
  }
  .f-light{
    font-family: 'FuturaCyrillicLight';
  }
  .f-default{
    font-family:'FuturaCyrillicMedium' ;
  }
  .f-book{
    font-family: 'FuturaCyrillicBook';
  }


  @font-face {
    font-family: 'FrizQuadrataBold';
    src: url('assets/FrizQuadrataBold.otf') format(truetype);
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura-PT-Bold';
    src: url('assets/Futura-PT-Bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'FuturaCyrillicBook';
    src: url('assets/FuturaCyrillicBook.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'FuturaCyrillicMedium';
    src: url('assets/FuturaCyrillicMedium.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'FuturaCyrillicLight';
    src: url('assets/FuturaCyrillicLight.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
  }


.txt-white{
  color: #ffffff;
}
.txt-dark{
  color:black;
}

.bg-clr-yellow{
  background-color: #fcb933 !important;
}

.clr-yellow{
  color: #fcb933;
}

