footer {
  position:relative;
  bottom: 0;
  background-color: #222;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  width: 50%;
  padding: 0 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

i {
  margin-right: 10px;
}

hr {
  border-top: 1px solid #444;
  margin: 50px 0;
}

p {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
