#next,#current{
  object-fit: cover;
  height: 100% !important;
  width: 100%;
  position: absolute;
}

#next{
  transform: translateX(-100%);
}

/*
#next{
  animation-name: slide-next;
  animation-delay: 2s;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
#current{
  animation-name: slide-current;
  animation-delay: 2s;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
} */

@keyframes slide-next{
  0%{
    transform: translateX(-100%);
  }
  30%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes slide-current{
  0%{
    transform: translateX(0%);
  }
  30%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(100%);
  }
}
